body {
    margin: 0;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.sidebar {
    background-color: rgb(0, 183, 255);
    color: white;
    display: grid;
    grid-template-rows: 1fr 20fr;
    height: 130vh;
}

.sidebar ul {
    list-style: none;
    padding-left: 10px;
}

.sidebar ul li {
    display: grid;
    grid-template-columns: 1fr 10fr;
    font-weight: 900;
}

.logo {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 900;
}

.main {
    height: 100vh;
}

.header {
    height: 20vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 0 50px;
    border: 1px solid transparent;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.header .top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    justify-content: center;
    align-content: space-between;
}

.search {
    display: grid;
    grid-template-columns: 1fr 15fr;
    align-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.search-btn {
    border: none;
    background-color: transparent;
}

.search-bar {
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: lightgray;
    padding-left: 20px;
}

.search-bar:focus {
    border: none;
    outline: none;
}

.profile {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    align-items: center;
    justify-items: center;
    padding-top: 10px;
}

.profile-picture {
    border-radius: 50%;
}

.username {
    font-weight: bold;
}

.bottom {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.bottom-left {
    display: grid;
    grid-template-columns: 1fr 10fr;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}

/* .profile-name {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 0;
} */

.greeting, .full-profile-name {
    margin: 0;
    font-weight: bold;
}

.greeting {
    font-size: 12px;
}

.profile-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    align-items: center;
}

.btn {
    border-radius: 20px;
    border: none;
    height: 30px;
    width: 100px;
    background-color: #1099ff;
    color: white;
}

.main-content {
    padding: 10px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: rgb(220, 225, 240)
}

.projects-wrapper {
    display: grid;
    grid-template-rows: 0fr 4fr;
    padding: 0 10px;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.projects-title {
    font-weight: bold;
}

.side {
    display: grid;
    grid-template-rows: 2fr 1fr;
}

.card {
    background-color: white;
    border: 1px solid black;
    padding: 0 10px;
    display: grid;
    grid-template-rows: 0fr 2fr 1fr;
    border-radius: 5px;
    border: 1px solid transparent;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    border-left: 5px solid rgb(255, 220, 0);
    border-right: 5px solid rgb(255, 220, 0);
}

.card-title {
    margin-bottom: 0;
    margin-top: 30px;
    font-weight: bold;
}

.card-description {
    margin-top: 0;
}

.card-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
